<h3> {{pokemon.mame}}</h3>
<p>Speed: {{pokemon.speed}}</p>

<p>Species: {{pokemon.species}}</p>

<p>{{pokemon.liked}}</p>
<img src="http://pokeapi.co/api/v1/pokemon/{{pokemon.id}}" alt="{{pokemon.mame}}">
{{yield}}
